In [2]:
import pandas as pd
import numpy as np

In [87]:
train = pd.read_csv('./data/train.csv')
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [1]:
train_y = train.Transported.apply(lambda t: 1 if t == True else 0)
train = train.assign(Transported=train_y)

NameError: name 'train' is not defined

In [97]:
vip = train.VIP.apply(lambda t: 1 if t == True else 0)
cryo = train.CryoSleep.apply(lambda t: 1 if t == True else 0)
train = train.assign(VIP=vip,CryoSleep=cryo)

In [98]:
train.head()

,PassengerId,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,HomePlanet_Mars,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_nan
0,0001_01,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,0002_01,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,...,0,0,0,0,0,0,1,0,0,0
2,0003_01,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,...,0,1,0,0,0,0,0,0,0,0
3,0003_02,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,...,0,1,0,0,0,0,0,0,0,0
4,0004_01,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,...,0,0,0,0,0,0,1,0,0,0

In [91]:
def split_cabin(s):
    return str(s).split('/')[0]

In [92]:
cabin = train.Cabin.apply(split_cabin)
train = train.assign(Cabin=cabin)

In [94]:
train = pd.get_dummies(train, columns=['HomePlanet', 'Cabin'])

In [99]:
corr_matrix = train.corr()
corr_matrix['Transported'].sort_values(ascending=False)

Transported          1.000000
CryoSleep            0.460132
HomePlanet_Europa    0.176916
Cabin_B              0.144733
Cabin_C              0.108193
FoodCourt            0.046566
HomePlanet_Mars      0.019544
Cabin_G              0.016269
ShoppingMall         0.010141
Cabin_nan           -0.000340
Cabin_A             -0.002623
Cabin_T             -0.014568
Cabin_D             -0.034046
VIP                 -0.037261
Age                 -0.075026
Cabin_F             -0.087753
Cabin_E             -0.097965
HomePlanet_Earth    -0.169019
VRDeck              -0.207075
Spa                 -0.221131
RoomService         -0.244611
Name: Transported, dtype: float64

In [102]:
X_features = train[['CryoSleep', 'HomePlanet_Europa', 'RoomService', 'Spa', 'VRDeck']]
y = train.Transported

In [106]:
X_features.isna().value_counts

<bound method DataFrame.value_counts of       CryoSleep  HomePlanet_Europa  RoomService    Spa  VRDeck
0         False              False        False  False   False
1         False              False        False  False   False
2         False              False        False  False   False
3         False              False        False  False   False
4         False              False        False  False   False
...         ...                ...          ...    ...     ...
8688      False              False        False  False   False
8689      False              False        False  False   False
8690      False              False        False  False   False
8691      False              False        False  False   False
8692      False              False        False  False   False

[8693 rows x 5 columns]>

In [104]:
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=2, include_bias=False)
X_poly = poly_features.fit_transform(X_features)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [82]:
y = n.Transported

In [55]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0
8689,9278_01,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0
8690,9279_01,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1
8691,9280_01,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0
8692,9280_02,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1

In [7]:
train_y

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 8693, dtype: int64